<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="me.bridgefy">
	<uses-sdk android:minSdkVersion="21"/>
	<uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
	<uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:maxSdkVersion="30" android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>
	<application/>
</manifest>
